WEB_PORT=8080
API_PORT=8081

ConnectionStrings__DefaultConnection=Server=SEU_SQL_HOST,1433;Database=ConsertaPraMimDb;User Id=sa;Password=SUA_SENHA;TrustServerCertificate=True;Encrypt=True;MultipleActiveResultSets=True;Connection Timeout=30;
PROFINDER_SQLSERVER_CONNECTION_STRING=Driver={ODBC Driver 17 for SQL Server};Server=SEU_SQL_HOST,1433;Database=ConsertaPraMimDb;Uid=sa;Pwd={SUA_SENHA};Encrypt=yes;TrustServerCertificate=yes;Connection Timeout=30;

ExternalServices__IbgeBaseUrl=https://servicodados.ibge.gov.br
ExternalServices__ViaCepBaseUrl=https://viacep.com.br
ExternalServices__NominatimBaseUrl=https://nominatim.openstreetmap.org
ExternalServices__NominatimUserAgent=ProFinder/1.0 (+https://seu-dominio.com)

RealtimeNotifications__GoogleMapsLeadsWebhookKey=troque-esta-chave
